{% extends "NetgustoBaikalFrontendBundle:Layouts:standard.html.twig" %}

{% set pagetitle = "User profile" %}

{% block content %}

<div class="page-header">
    <h1><i class="fa fa-smile"></i> My profile</small></h1>
</div>

{% endblock %}