{% extends "NetgustoBaikalFrontendBundle:Layouts:standard.html.twig" %}

{% set pagetitle = "Calendars" %}

{% block content %}

<div class="page-header">
    <h1><i class="fa fa-calendar"></i> Calendars</small></h1>
</div>

{% endblock %}